.homepage-list {
  list-style: none;
  border: 2px solid red;
  text-align: center;
  background-color: royalblue;
  width: 80%;
  margin: auto
}
.main-container{

align-items: center;
background-color: rgba(33, 33, 33, .3);

}

.Article{
  display: flex;
  flex-direction: column;
  
}

.user{
  text-align: right
}

#comments-heading{
  flex-wrap: wrap
}

.comments{
  
  flex-wrap: wrap;
  


}
.NavBar{
  text-align: center;
  text-decoration: none

}



Link{
  text-decoration: none
}

.topics{
  text-align: center;
  text-decoration: none

}

.header {text-align: center;
}

.comments{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}





.dislike-button{
  position: relative; 
  left: 10px;

}